<head>
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/our_promise.css' %}">
</head>

    <!-- Divider for the second part of the page -->
    <div class="page-title">
        <h1>Our Promise</h1>
    </div>

    <div class="text-container">
        <div class="promise-section">

            <h3><br></br>1. “Like Prince Charming who grew in one day as much as others do in ten!”</h3>
            <p><br>A clear mind in a strong body.</p>
            <p>As the functionality of the Body-Mind-Soul nears 100%, <span class="underline"> <br>the "Prince Charming" effect appears.</span> </p>
            <p>The mind becomes calm and wise, the body strong and balanced, <br> and the soul completely at peace.</p>
            <p>This combination will enhance your work, progress, and talent <span class="underline">tenfold</span> – in ANYTHING you do.</p>
        </div>

        <div class="promise-section">
            <h3><br></br>2. You Won't Miss Childhood Anymore.</h3>
            <p><br>Oh, how we longed for Childhood!</p>
            <p>We used to speak with other adults in melancholy about a bygone era of purity, freedom, and love.</p>
            <p><br>Until... it was gone. Completely.</p>
            <p>Because, in fact, childhood never ended.</p>
            <p>It was only that Suffering. Concealment.</p>
            <p>Once those two are resolved, <span class="underline">sweet Childhood returns.</span></p>
        </div>
    </div>
    {% load static %}
      <!-- Video Section -->
    <div class="video-section">

        <div class="video-overlay"></div>
        <video autoplay muted loop playsinline class="background-video">
            <source src="{% static 'images/move_water.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-text">
            <h2>Rediscover the Energy of Life.</h2>
            <p>The Body.. Water. <br> The Mind.. Calm and Focused. <br> The two.. Together again.</p>
        </div>
    </div>

      <svg class="philosopher-stone" viewBox="0 0 64 64">
  <!-- A simple triangle representing the Philosopher's Stone -->
  <polygon points="32,6 58,58 6,58" />
</svg>

    <svg class="philosopher-stone" viewBox="0 0 64 64">
  <!-- A simple triangle representing the Philosopher's Stone -->
  <polygon points="32,58 58,6 6,6" />
</svg>

          <svg class="philosopher-stone" viewBox="0 0 64 64">
  <!-- A simple triangle representing the Philosopher's Stone -->
  <polygon points="32,6 58,58 6,58" />
</svg>

<!----------------------------------->
<!-------- Page 7 HTML end  --------->
<!----------------------------------->
