<head>
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/our_promise.css' %}">
</head>

    <!-- Divider for the second part of the page -->
    <div class="page-title">
        <h1>Promisiunea noastră</h1>
    </div>

    <div class="text-container">
        <div class="promise-section">

            <h3><br></br>1. “Ca Făt-Frumos care creștea într-o zi cât alții în 10!”</h3>
            <p><br>Minte limpede într-un corp puternic.</p>
            <p>Pe măsură ce funcționalitatea Corp-Minte-Suflet se apropie de 100%, <span class="underline"> <br>apare efectul "Făt-Frumos". </span> </p>
            <p>Mintea devine calmă și înțeleaptă, corpul puternic și echilibrat, <br> Sufletul complet împăcat.</p>
            <p>Această combinație îți va îmbunătăți <span class="underline">înzecit</span> munca, progresul, talentul – în ORICE faci.</p>
        </div>

        <div class="promise-section">
            <h3><br></br>2. Nu-ți va mai fi dor de Copilărie.</h3>
            <p><br>Ah, ce dor ne era de Copilărie!</p>
            <p>Vorbeam cu restul adulților în melancolie despre un timp apus al purității, libertății și iubirii.</p>
            <p><br>Până când… nu ne-a mai fost. Deloc.</p>
            <p>Pentru că de fapt nu a apus copilăria.</p>
            <p>Ci doar a apărut Suferința. Ascunderea.</p>
            <p>Odată ce acestea două se rezolvă, <span class="underline">dulcea Copilărie se întoarce.</span></p>
        </div>
    </div>




    {% load static %}
      <!-- Video Section -->
    <div class="video-section">

        <div class="video-overlay"></div>
        <video autoplay muted loop playsinline class="background-video">
            <source src="{% static 'images/move_water.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-text">
            <h2>Redescoperă Energia Vieții.</h2>
            <p>Corpul.. Apă. <br> Mintea.. Calmă și Focusată. <br> Cele 2.. Împreună din nou.</p>
        </div>
    </div>

      <svg class="philosopher-stone" viewBox="0 0 64 64">
  <!-- A simple triangle representing the Philosopher's Stone -->
  <polygon points="32,6 58,58 6,58" />
</svg>

    <svg class="philosopher-stone" viewBox="0 0 64 64">
  <!-- A simple triangle representing the Philosopher's Stone -->
  <polygon points="32,58 58,6 6,6" />
</svg>

          <svg class="philosopher-stone" viewBox="0 0 64 64">
  <!-- A simple triangle representing the Philosopher's Stone -->
  <polygon points="32,6 58,58 6,58" />
</svg>

<!----------------------------------->
<!-------- Page 7 HTML end  --------->
<!----------------------------------->
